<div class="contenu">
  <div id="group-index">
    <div class="my-groups">
      <% @groups.each do |group| %>
        <%= render "card", group: group %>
      <% end %>
      </div>
    <div class="my-groups-right">
      <div class="new-group" data-bs-toggle="modal" data-bs-target="#newGroupModal">
        <h3>Créer un nouveau groupe</h3>
      </div>
      <div class="join-group" data-bs-toggle="modal" data-bs-target="#joinGroupModal">
        <h3>Rejoindre un groupe</h3>
      </div>
    </div>
  </div>
</div>

<!-- Modal : Créer un nouveau groupe -->
<div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="newGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newGroupModalLabel">Créer un groupe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@group) do |f| %>
          <%= f.input :name %>
          <%= f.input :image_id, as: :radio_buttons, collection: Image.all.map { |img| [image_tag(img.url, size: "200x150").html_safe, img.id] } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <%= f.button :submit, "Créer", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal : Rejoindre un groupe -->
<div class="modal fade" id="joinGroupModal" tabindex="-1" aria-labelledby="joinGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinGroupModalLabel">Créer un groupe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @subscription do |f| %>
          <%= f.input :group_shareablecode, placeholder: "Code reçu", label: false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <%= f.button :submit, "Rejoindre le groupe", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
