<div class="banner" style="background-image: url(<%= image_path("videoproj.jpg") %>)">
  <div class="contenu">
    <h1>CornFlicks</h1>
    <p>Des films à déguster, des goûts à partager !</p>
    <%= render 'shared/searchbar' %>
  </div>
</div>

<div class="contenu">
<% if @results %>
  <h3>Résultats</h3>
  <ul>
    <% @results.each do |result| %>
      <% if result['media_type'] == "movie" %>
        <li><%= link_to result['title'], movie_path(result['id']) %></li>
      <% else %>
        <li><%= link_to result['name'], tv_path(result['id']) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h3>Les films populaires cette semaine</h3>
<ul>
  <% @popular_movies.each do |movie| %>
    <li><%= movie['title'] %></li>
  <% end %>
</ul>

<h3>Les séries populaires cette semaine</h3>
<ul>
  <% @popular_tv.each do |tv| %>
    <li><%= tv['name'] %></li>
  <% end %>
</ul>

</div>
